<!--carousel-->
<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/placeholders/instore-white.jpg">
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/placeholders/instore-black.jpg">
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/placeholders/instore-white 2.jpg">
    </div>
  </ng-template>
</ngb-carousel>


<!--category icons-->
<div class="container">
    <a href="/men"><img src="assets/images/men/men-category-banner.jpg" class="category-icon"></a>

    <a href="/women"><img src="assets/images/women/women-category-banner.jpeg" class="category-icon"></a>
</div>

<!--sale banner-->
<div class="sale">
  <a href="/sale"><img src="assets/images/placeholders/sale-banner2.jpg"></a>
</div>
