img{
    object-fit: contain;
    max-width: 75%;
    max-height: 75%;
    width: auto;
    height: auto;
    padding: 50px;
}

ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.add-to-cart{
    padding: 5px;
    text-align: center;
    border-radius: 25px;
    color: #fff;
    background-color: #000;
}

.product-list{
    display: flex;
    justify-content: center;
    text-align: center;
}

.product-list ul li{
    list-style: none;
    flex: 0  0 33.33%;
}

