<div class="brand-container">
  <div class="logo">
    <h1><a href="#">Clothing Apparel</a></h1>
  </div>

  <!-- search bar, shopping cart to the left -->
  <div class="homepage-components">
    <app-search></app-search>
    <app-cart></app-cart>
    <app-login></app-login>
  </div>

</div>

<hr>

<!-- list of categories -->
<app-category-list></app-category-list>

<!-- carousel of images -->
<p>insert carousel here</p>

<!-- main content -->
<router-outlet></router-outlet>


<footer>
  <ul>
    <li><a href="#">About us</a></li>
    <li><a href="#">Contact us</a></li>
    <li><a href="#">Socials</a></li>
  </ul>
  <p class="copyright">© Marja Katrina Centina.</p>
</footer>